#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100vw;
}

.slide-out {
  /* transform: translateX(-50%); */
  /* transition: transform 0.3s ease-in-out; */
}